/* User.css */

.user-card {
  font-family: 'Bebas Neue', sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 16px;
}

.user-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.user-info {
  padding: 16px;
  font-size: 16px;
  color: #ffffff;
}
