/* Navbar.css */

.navbar {
    background-color: #010409;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  .nav-link {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #f5420cac; /* Change the color on hover and when active */
  }
  